################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShellLogin/bin/Debug/netcoreapp3.1
/ShellLogin/obj
/.vs/ShellLogin
